
    <footer>
        <p>i will be pleased to work with you, do not think twice just write me at <a href="mailto:alejandrobryan023@gmail.com?Subject=Hello%20again">alejandrobryan023@gmail.com </a> </p>
        <ul> 
           <li><a href="https://twitter.com/AlejandroBryan0" target="_blank" class="social twitter1">Twitter</a></li>
           <li><a href="https://www.linkedin.com/in/alejandro-bryan-826b7017a/" target="_blank" class="social linkedin1">LinkedIn</a></li>
           <li><a href="https://github.com/AlejandroBryan" target="_blank" class="social github1"><i class="ae flag"></i></a></li>
           <li><a href="https://www.instagram.com/alejandrobryan023_/" target="_blank" class="social instagram">Instagram</a></li>
           <li><a href="https://treehouse-fewd-102.slack.com/account/profile" target="_blank" class="social slack">Twitter</a></li>
        </ul>
        <p class="copyright">&copy; 2019, Alejandro Bryan</p>
     </footer>
     
     



<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js" integrity="sha512-LfB+BcvR3zBt7ebVskhSWiSbEUiG3p5EcCprkieldsKhBeR6wpnLi0VpWC2GNgVGWP2n/skO8Bx2oKNjUhXCkw==" crossorigin="anonymous"></script>
<script src="/script/landing.js"></script>

</body>
</html>
