<%- include("../partials/headerp.ejs") %>
<main class="hero">

   <img src="photos/Alex_Foto.jpg" alt="Alex lauching a lot" class="profile-image">
   <h1 class="tag name">Hello, I'm Alejandro.</h1>
   <p class="tag location">
      My home is <span><a href="https://de.wikipedia.org/wiki/Elztal_(Odenwald) " target="_blank">
         <b>Elztal</b> </a></span>, Odenwald(Germany)
      </p>
</main>


<section>

 
    
 <p>
      Lorem <i class="do flag"></i> Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of 
      Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
      software like Aldus PageMaker including versions of Lorem Ipsum.
</p> 

 <main class="flex">
   <div class="card">
      <h2>Education</h2>
      <p>I’m an aspiring sculptor who loves everything about creating in this life. I've lived in lots of different places and have worked in lots of different jobs. I’m excited to bring my life experience to the process of building fantastic good looking websites.</p>
      <p>I’ve been a professional cook and gardener and am a life-long learner who's always interested in expanding my skills.</p>
      <p>I have the hunch that i can suceed in the web development industry because:</p>
      <ol>
      <li>I got the discipline.</li>
      <li>I am self motivated to learn and to accomplisch what i want. </li>
      <li>i never give up.</li>
      </ol>
      
      
   </div>


   <div class="card">
      <h2>Skills</h2>
      <p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
      <div class="info">
         <div class="row">
            <i class=" large html5 middle aligned icon left"></i>
            <a class="header">HTML5</a>
         </div>

         <div class="row">
            <i class="large css3 middle aligned icon"></i>
            <a class="header">CSS3</a>
         </div>

         <div class="row">
            <i class="large js middle aligned icon"></i>
            <a class="header">javaScript</a>
         </div>


         <div class="row">
            <i class="large node middle aligned icon"></i>
            <a class="header">Nodejs</a>
         </div>
         <div class="row">
            <i class="large database middle aligned icon"></i>
            <a class="header">MongoDB</a>
         </div>
         
         <div class="row">
          <i class="large react middle aligned icon"></i>
          <a class="header">Reactjs</a>
         </div>
         <div class="row">
          <i class="large sass middle aligned icon"></i>
          <a class="header">SASS</a>

         </div>
         <div class="row">
          <i class="large js middle icon"></i>
          <a>jQuery</a>
         </div>
      </div> 
   </div>



</main>
<h2>projects</h2>
<div class="projects-section">
   
   
<div class="projects-card">
   <div class="img-bg">
      <img src="photos/thumbnail.png" alt="">
   </div>
    <h2> title</h2>
    <h4>description</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   </p>

</div>

<div class="projects-card">
   <div class="img-bg">
      <img src="photos/thumbnail.png" alt="">
   </div>
   
    <h2> title</h2>
    <h4>description</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   </p>


</div>
<div class="projects-card">
   <div class="img-bg">
      <img src="photos/thumbnail.png" alt="">
   </div>
    <h2> title</h2>
    <h4>description</h4>
    <p>
       Lorem Ipsum is simply dummy text of the printing and typesetting industry.
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
       when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   </p>


</div>
<div class="projects-card">
   <div class="img-bg">
      <img src="photos/thumbnail.png" alt="">
   </div>
    <h2> title</h2>
    <h4>description</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   </p>


</div>
<div class="projects-card">
   <div class="img-bg">
      <img src="photos/thumbnail.png" alt="">
   </div>
    <h2> title</h2>
    <h4>description</h4>
    <p>  
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
       when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   </p>


</div>

<div class="projects-card">
   <div class="img-bg">
      <img src="photos/thumbnail.png" alt="">
   </div>
    <h2> title</h2>

    <h4>description</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
   </p>


</div>


<div class="projects-card">
   <div class="img-bg">
      <img src="photos/thumbnail.png" alt="">
   </div>
    <h2> title</h2>

    <h4>description</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>


</div>
</div>

</section>












<%- include("../partials/footerp.ejs") %>